- var link = 'html-capture'
- var title = '用 HTML 的 capture 屬性，開啟手機鏡頭進行拍照、錄影'
- var description = '用 HTML 的 capture 屬性，開啟手機鏡頭進行拍照、錄影'

<!DOCTYPE html>
html(lang="zh-Hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} - August - Let's Write

    link(rel="canonical", href=`https://www.letswrite.tw/${link}/`)
    meta(property="og:url", content=`https://letswritetw.github.io/letswrite-${link}/`)

    meta(property="fb:app_id", content="911000986339138")
    meta(property="og:type", content="website")

    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content=`${title} - Augustus - Let's Write`)
    meta(itemprop="name", content=`${title} - Augustus - Let's Write`)

    meta(name="description", content=description)
    meta(property="og:description", content=description)
    meta(itemprop="description", content=description)

    meta(itemprop="image", content=`https://letswritetw.github.io/letswrite-${link}/fb.png`)
    meta(property="og:image", content=`https://letswritetw.github.io/letswrite-${link}/fb.png`)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:image:alt", content=title)

    link(rel="shortcut icon", href="https://letswritetw.github.io/letswritetw/dist/img/logo_512.png")

    //- css
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css", media="screen")
    link(rel="stylesheet", href="dist/style.min.css", media="screen")

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
  body

    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")
    
    #app.container
      .title
        h1 用 HTML 的 capture 屬性
          span ，
          <br/>開啟手機鏡頭進行拍照、錄影
        p 筆記文：
          a(href="https://www.letswrite/html-capture/") Let's Write

      hr

      h2 屬性說明
      h3 capture
      ul
        li
          code user
          |  前鏡頭
        li
          code environment
          |  後鏡頭
      h3 accept
      ul
        li
          code audio
          |  聲音檔
        li
          code video
          |  影片檔
        li
          code image
          |  圖檔
      
      hr
      
      h2 範例

      h3 1. 前鏡頭 - 錄製影片
      pre
        code capture="user", accept="video/*"
      p
        label(for="videoUserFile") 開啟前鏡頭錄影
        input#videoUserFile.hidden(type="file", capture="user", accept="video/*")
      p 顯示結果：
      textarea#videoUserFileResult.hidden(disabled)
      video#videoUserFileVideo.hidden(controls)

      hr

      h3 2. 前鏡頭 - 拍照
      pre
        code capture="user", accept="image/*"
      p
        label(for="imageUserFile") 開啟前鏡頭拍照
        input#imageUserFile.hidden(type="file", capture="user", accept="image/*")
      p 顯示結果：
      textarea#imageUserFileResult.hidden(disabled)
      img#imageUserFileImage.hidden

      hr

      h3 3. 後鏡頭 - 錄製影片
      pre
        code capture="environment", accept="video/*"
      p
        label(for="videoEnvFile") 開起後鏡頭錄影
        input#videoEnvFile.hidden(type="file", capture="environment", accept="video/*")
      p 顯示結果：
      textarea#videoEnvFileResult.hidden(disabled)
      video#videoEnvFileVideo.hidden(controls)

      hr

      h3 4. 後鏡頭 - 拍照
      pre
        code capture="environment", accept="image/*"
      p
        label(for="imageEnvFile") 開起後鏡頭拍照
        input#imageEnvFile.hidden(type="file", capture="environment", accept="image/*")
      p 顯示結果：
      textarea#imageEnvFileResult.hidden(disabled)
      img#imageEnvFileImage.hidden
      
      hr

      h2 參考資源
      p
        a(href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/capture", target="_blank") HTML attribute: capture
      p
        a(href="https://austingil.com/html-capture-attribute/", target="_blank") You Can Access A User’s Camera with Just HTML

      hr

    script(src="https://cdn.jsdelivr.net/npm/vue@2")
    script(src="dist/main.min.js")
